<html>
  <head>
    <title>冷蔵庫管理アプリケーション</title>
    <link rel="icon" href="icon.ico" />
    <meta charset="UTF-8" />
  </head>
  
  <body>
    <center>
      <h1>冷蔵庫管理アプリケーション</h1>
      <img th:src="${path}" width="50%" height="50%" />
      <h2>冷蔵庫の中身</h2>
      <form method="get" th:action="@{/in}"><input type="submit" value="購入商品入力画面" style="WIDTH: 200px; HEIGHT: 30px" /></form>
      <form method="get" th:action="@{/out}"><input type="submit" value="取り出し" style="WIDTH: 200px; HEIGHT: 30px" />
      <table id="refrigerator" border="1" width="500">
        <tr th:each="goods : ${goodslist}">
          <td>
            <input type="checkbox" name="selectGoods" value="true" th:value="${goods.id}" />
          </td>
          <td th:text="${goods.name}"></td>
          <div th:switch="${goods.limitDay &lt; goods.today}">
            <td th:case="true" bgcolor="red" th:text="${goods.limit}"></td>
            <td th:case="false" th:text="${goods.limit}"></td>
            <td th:case="*" th:text="${goods.limit}"></td>
          </div>
        </tr>
      </table>
      </form>
    </center>
  </body>
</html>